html{
  font-family: Impact, Charcoal, sans-serif;
}

.pricing-header {
  color: white;
}

.card-deck .card {
  min-height: 350px;
 }

body {
  background-color: black;
  background-position: center;
  width: 630px;
  margin: auto;
  font-family: Impact, Charcoal, sans-serif;

}
h5 {
  color: white;
}

a.text-dark:focus, a.text-dark:hover {
  color: #EF1B0F !important; }

.full-img {
  position: relative;
  display: block;
 }

.displayed-img {
  position: relative;
  display: block;
  width: 100%;
  height: auto; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 630px;
  height: 684px;
  background-color: rgba(0, 0, 0, 0); }

button {
  border: 0;
  background: rgba(150, 150, 150, 0.6);
  position: relative;
  cursor: pointer;
  top: 2px;
  left: 2px;
  margin-bottom: 4px;
 }

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
  height: 20%;
}
